:root {
--fundo:black;
--verde:#94fb08;
}



body
{
    background: url('https://i.pinimg.com/originals/ef/26/2b/ef262b0b03479cdf5109cf719100f186.gif') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

/*
  https://i.pinimg.com/originals/ef/26/2b/ef262b0b03479cdf5109cf719100f186.gif
  
  */


div {
color:var(--verde);
font-size:40px;

}

p {
color:var(--verde);
margin-left:40px;
}
